<!DOCTYPE html>
<html>
<head>
    <title>travel agency</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Список клієнтів</h1>
    <p><a href="/create">Додати клієнта</a></p>
    <table>
        <tr>
            <th>Surname</th>
            <th>FirstName</th>
            <th>Address</th>
            <th>Phone</th>
            <th></th>
        </tr>
        {{#each clients}}
            <tr>
                <td>{{this.surname}}</td>
                <td>{{this.firstname}}</td>
                <td>{{this.address}}</td>
                <td>{{this.phone}}</td>
                <td>
                    <a href="/edit/{{this.id}}">Edit</a>|
                    <form action="delete/{{this.id}}" method="POST" style="display:inline;">
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
        {{/each}}
    </table>
    <br/>

    <hr/>

    <br/>
    <a href="/1">Маршрути</a>
    <a href="/2">Путівки</a>
</body>
<html>